{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}
<div class="forms">
  <div class="form-content">
    <div class="login-form">
      <div class="title">{% trans "Sign In" %}</div>

      {% get_providers as socialaccount_providers %}

      {% if socialaccount_providers %}

      <div class="text sign-up-text">
        <div class="text sign-up-text">{% blocktrans with site.name as site_name %}Please sign in with one
          of your existing third party accounts below:{% endblocktrans %}</div>
        <i class="fab fa-google"></i>
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </div>
      <div class="text sign-up-text">
        {% trans 'or' %}
      </div>

      {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      {% endif %}

      <!-- Login form with CSRF token -->
      <form method="post" action="{% url 'account_login' %}">
        {% csrf_token %}
        <div class="input-boxes">
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <div class="text"><a href="{% url 'account_reset_password' %}">Forgot password?</a></div>
          <div class="button input-box">
            <!-- Submit button -->
            <input type="submit" value="Sign In">
          </div>
          <div class="text sign-up-text">Don't have an account? <a href="{{ signup_url }}">Signup now</a>
          </div>
        </div>
      </form>

      {% endblock content %}
    </div>
  </div>
</div>
