<!-- charts/templates/chart.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chart.js Example</title>
    <!-- Include Chart.js via CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div style="width: 50%; margin: 0 auto;">
        <canvas id="myChart"></canvas>
    </div>
    
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('/chart-data/')
                .then(response => response.json())
                .then(data => {
                    const ctx = document.getElementById('myChart').getContext('2d');
                    
                    new Chart(ctx, {
                        type: data.chart_type,
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: data.label,
                                data: data.values,
                                //backgroundColor: 'rgba(0, 0, 0, 0)', // Make the area under the line transparent
                                borderColor: 'rgba(75, 192, 192, 1)',
                                borderWidth: 2,
                                pointRadius: 0, // Set point radius to zero to hide the points
                                pointHoverRadius: 0, // Set hover point radius to zero
                            }]
                        },
                        options: {
                            scales: {
                                y: {
                                    beginAtZero: false
                                }
                            },
                            cubicInterpolationMode: 'monotone',
                        }
                    });
                });
        });
    </script>
</body>
</html>