<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="utf-8">
  <title>HARPOCRATES FX - Digital Asset Management Agency</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicon -->
  <link href=" {% static 'img/favicon.ico' %} " rel="icon">

  <!-- Google Web Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500&family=Jost:wght@500;600;700&display=swap"
    rel="stylesheet">

  <!-- Icon Font Stylesheet -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <!-- Libraries Stylesheet -->
  <link href=" {% static 'lib/animate/animate.min.css' %} " rel="stylesheet">
  <link href=" {% static 'lib/owlcarousel/assets/owl.carousel.min.css' %} " rel="stylesheet">
  <link href=" {% static 'lib/lightbox/css/lightbox.min.css' %} " rel="stylesheet">

  <!-- Customized Bootstrap Stylesheet -->
  <link href=" {% static 'css/bootstrap.min.css' %} " rel="stylesheet">

  <!-- Template Stylesheet -->
  <link href=" {% static 'css/style.css' %} " rel="stylesheet">
  <link href=" {% static 'css/floatingchat.css' %} " rel="stylesheet">
  <link href=" {% static 'css/modal.css' %} " rel="stylesheet">
  <style>
    .trader-card {
      background-color: #F6F4F9;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 100%; /* Set a percentage width */
      max-width: 400px; /* Set a maximum width if needed */
      text-align: center;
      margin: auto;
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-bottom: 10px;
    }

    .info {
      margin-bottom: 15px;
    }

    .info h3 {
      margin: 0;
      font-size: 1.2em;
    }

    .follows-num {
      color: #555;
    }

    .stats {
      margin-bottom: 15px;
    }

    .stats li {
      list-style: none;
      margin-bottom: 5px;
    }

    .stats .val {
      font-weight: bold;
      color: #333;
    }

    .buttoncard {
      background-color: #3498db;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      font-size: 1em;
      transition: background-color 0.3s ease;
    }

    .buttoncard:hover {
      background-color: #2980b9;
    }
  </style>
</head>

<body>
  <div class="container-xxl bg-white p-0">
    <!-- Spinner Start -->
    <div id="spinner"
      class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
      <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar & Hero Start -->
    <div class="container-xxl position-relative p-0">
      <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
        <a href="{% url 'cms:index' %}" class="navbar-brand p-0">
          <!-- <h1 class="m-0">HARPOCRATES FX</h1> -->
          <img src=" {% static 'img/Harpocrates Fx_Vector-1-01.png' %} " alt="Logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="fa fa-bars"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav mx-auto py-0">
            <a href=" {% url 'cms:index' %} " class="nav-item nav-link active">Home</a>
            <a href=" {% url 'cms:index' %} " class="nav-item nav-link">Buy Crypto</a>
            <a href="{% url 'cms:services' %}" class="nav-item nav-link">Service</a>
            <a href="{% url 'cms:systems' %}" class="nav-item nav-link">Systems</a>
            <a href="{% url 'cms:contact' %}" class="nav-item nav-link">Contact</a>
          </div>
          <div class="nav-item dropdown">
            <a href="#" class="btn rounded-pill py-2 px-4 ms-3 d-none d-lg-block" data-bs-toggle="dropdown">My
              Account</a>
            <div class="dropdown-menu m-0">
              <a href=" {% static 'team.html' %} " class="dropdown-item">Profile</a>
              <a href=" {% static 'team.html' %} " class="dropdown-item">My System(s)</a>
              <a href=" {% static 'testimonial.html' %} " class="dropdown-item">Wallet</a>
              <a href=" {% static 'testimonial.html' %} " class="dropdown-item">Messages</a>
              <a href=" {% url 'cms:password-change' %} " class="dropdown-item">Change Password</a>
              <li class="dropdown-item"> </li>
              <a href=" {% url 'cms:logout' %} " class="dropdown-item">Log Out</a>
            </div>
          </div>
        </div>
      </nav>

      <div class="container-xxl bg-primary hero-header">
        <div class="container px-lg-5">
          <div class="row g-5 align-items-end">
            <div class="col-lg-6 text-center text-lg-start">
              <h1 class="text-white mb-4 animated slideInDown">Experience the Best in Forex Trading</h1>
              <p class="text-white pb-3 animated slideInDown">Tempor rebum no at dolore lorem clita rebum rebum ipsum
                rebum stet dolor sed justo kasd. Ut dolor sed magna dolor sea diam. Sit diam sit justo amet ipsum vero
                ipsum clita lorem</p>
              <a href="{% url 'cms:systems' %}"
                class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Start Now</a>
              <a href="{% url 'cms:contact' %}"
                class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contact Us</a>
            </div>
            <div class="col-lg-6 text-center text-lg-start">
              <img class="img-fluid animated zoomIn" src=" {% static 'img/herochange.png' %} " alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Navbar & Hero End -->


    <!-- Feature Start
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-4">
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                            <h5 class="mb-3">Digital Marketing</h5>
                            <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-search text-primary mb-4"></i>
                            <h5 class="mb-3">SEO & Backlinks</h5>
                            <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="feature-item bg-light rounded text-center p-4">
                            <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
                            <h5 class="mb-3">Design & Development</h5>
                            <p class="m-0">Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        Feature End -->


    <!-- About Start
        <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                        <p class="section-title text-secondary">About Us<span></span></p>
                        <h1 class="mb-5">#1 Digital solution with 10 years of experience</h1>
                        <p class="mb-4">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit, sed stet no labore lorem sit clita duo justo eirmod magna dolore erat amet</p>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Digital Marketing</p>
                                <p class="mb-2">85%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">SEO & Backlinks</p>
                                <p class="mb-2">90%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-secondary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="skill mb-4">
                            <div class="d-flex justify-content-between">
                                <p class="mb-2">Design & Development</p>
                                <p class="mb-2">95%</p>
                            </div>
                            <div class="progress">
                                <div class="progress-bar bg-dark" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Read More</a>
                    </div>
                    <div class="col-lg-6">
                        <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src=" {% static 'img/about.png' %} ">
                    </div>
                </div>
            </div>
        </div>
        About End -->


    <!-- Facts Start 
        <div class="container-xxl bg-primary fact py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row g-4">
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
                        <i class="fa fa-certificate fa-3x text-secondary mb-3"></i>
                        <h1 class="text-white mb-2" data-toggle="counter-up">1234</h1>
                        <p class="text-white mb-0">Years Experience</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
                        <i class="fa fa-users-cog fa-3x text-secondary mb-3"></i>
                        <h1 class="text-white mb-2" data-toggle="counter-up">1234</h1>
                        <p class="text-white mb-0">Team Members</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
                        <i class="fa fa-users fa-3x text-secondary mb-3"></i>
                        <h1 class="text-white mb-2" data-toggle="counter-up">1234</h1>
                        <p class="text-white mb-0">Satisfied Clients</p>
                    </div>
                    <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
                        <i class="fa fa-check fa-3x text-secondary mb-3"></i>
                        <h1 class="text-white mb-2" data-toggle="counter-up">1234</h1>
                        <p class="text-white mb-0">Compleate Projects</p>
                    </div>
                </div>
            </div>
        </div>
        Facts End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
      <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
          <p class="section-title text-secondary justify-content-center"><span></span>Our Services<span></span></p>
          <h1 class="text-center mb-5">What Solutions We Provide</h1>
        </div>
    
        {% if services %}
          <div class="row g-4">
            {% for service in services %}
              <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                  <div class="service-icon flex-shrink-0">
                    <i class="{{ service.icon_class }} fa-2x"></i>
                  </div>
                  <h5 class="mb-3">{{ service.title }}</h5>
                  <p class="m-0">{{ service.short_description }}</p>
                  <a class="btn btn-square" href="#" onclick="openModal('modal{{ service.id }}')"><i class="fa fa-arrow-right"></i></a>
                </div>
              </div>
              <!-- The modal -->
              <div id="modal{{ service.id }}" class="modal">
                <div class="modal-content">
                  <span class="close-btn" onclick="closeModal('modal{{ service.id }}')">&times;</span>
                  <h2>{{ service.title }}</h2>
                  <p>{{ service.detailed_description }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% else %}
          <p>No services added.</p>
        {% endif %}
    
      </div>
    </div>
    
    <script>
      // JavaScript functions to open and close the modals
      function openModal(modalId) {
        document.getElementById(modalId).style.display = "flex";
      }
    
      function closeModal(modalId) {
        document.getElementById(modalId).style.display = "none";
      }
    </script>
    
    <!-- Service End -->


    <!-- Newsletter Start -->
    <div class="container-xxl bg-primary newsletter py-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="container py-5 px-lg-5">
        <div class="row justify-content-center">
          <div class="col-lg-7 text-center">
            <p class="section-title text-white justify-content-center"><span></span>Newsletter<span></span></p>
            <h1 class="text-center text-white mb-4">Stay Always In Touch</h1>
            <p class="text-white mb-4">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita
              erat ipsum et lorem et sit sed stet lorem sit clita duo justo</p>
            <div class="position-relative w-100 mt-3">
              <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text"
                placeholder="Enter Your Email" style="height: 48px;">
              <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i
                  class="fa fa-paper-plane text-primary fs-4"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Newsletter End -->


    <!-- Projects Start -->
    <div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
      <div class="wow fadeInUp" data-wow-delay="0.1s">
        <p class="section-title text-secondary justify-content-center"><span></span>OUR SYSTEMS<span></span></p>
        <h1 class="text-center mb-5">Start trading and experience the best cryptocurrency journey</h1>
      </div>
      {% if traders %}
      <div class="row g-4 portfolio-container">
        {% for trader in traders %}
          <div class="col-lg-4 col-md-6 portfolio-item wow fadeInUp" data-wow-delay="{{ forloop.counter0 | add:'0.1' }}s">
            <div class="trader-card">
              <img class="avatar" src="{% static 'img/cryptograph.jpg' %}" alt="Avatar">
              <div class="info">
                <h3 class="text-primary fw-medium mb-2">#{{ trader.id }}&amp;{{ trader.name }}</h3>
                <div class="follows-num">Followers: 100/250</div>
              </div>
              <ul class="stats">
                <li><h5 class="lh-base mb-0">{{ trader.roi }}%</h5> ROI</li>
                <li><h5 class="lh-base mb-0">{{ trader.last_profit }}</h5> Last 3W profit</li>
                <li><h5 class="lh-base mb-0">{{ trader.last_profit_win_rate }}%</h5> Last 3W win rate</li>
                <li><h5 class="lh-base mb-0">{{ trader.total_profits }}</h5> Total profits</li>
                <!-- Add other stats here -->
                <li><h5 class="lh-base mb-0">{{ trader.copy_traders }}</h5> Total copy traders</li>
                    <li><h5 class="lh-base mb-0">{{ trader.AUM }}%</h5> AUM</li>
                    <li><h5 class="lh-base mb-0">{{ trader.max_drawdown }}%</h5> Max drawdown</li>
              </ul>
  
              <div class="asset">
                <img src="{% static 'img/origin-dollar-ousd-logo.svg' %}" alt="coin">
                <p>Pricing: </p>
                $ {{ trader.fee }}
              </div>
              <form method="post" action="{% url 'initiate_payment' %}">
                {% csrf_token %}
                  <!-- Hidden inputs for pricing and user email -->
                <input type="hidden" name="amount" value="{{ trader.fee }}" required>
                <input type="hidden" name="email" value="{% if user.is_authenticated %}{{ user.email }}{% endif %}">    
                <button class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft" type="submit">Copy Trading</button>
              </form>
            </div>
          </div>
        {% endfor %}
      </div>
      {% else %}
      <p>No systems added.</p>
    {% endif %}
    </div>
  </div>
  <!-- Projects End -->

  <div class="floating-chat">
    <i class="fa fa-comments" aria-hidden="true"></i>
    <div class="chat">
        <div class="header">
            <span class="title">
                what's on your mind?
            </span>
            <button>
                <i class="fa fa-times" aria-hidden="true"></i>
            </button>
                          
        </div>
        <ul class="messages">
            <li class="other">asdasdasasdasdasasdasdasasdasdasasdasdasasdasdasasdasdas</li>
            <li class="other">Are we dogs??? 🐶</li>
            <li class="self">no... we're human</li>
            <li class="other">are you sure???</li>
            <li class="self">yes.... -___-</li>
            <li class="other">if we're not dogs.... we might be monkeys 🐵</li>
            <li class="self">i hate you</li>
            <li class="other">don't be so negative! here's a banana 🍌</li>
            <li class="self">......... -___-</li>
        </ul>
        <div class="footer">
            <div class="text-box" contenteditable="true" disabled="true"></div>
            <button id="sendMessage">send</button>
        </div>
    </div>
  </div>
  

  <!-- Footer Start -->
  <div class="container-fluid bg-primary text-light footer wow fadeIn" data-wow-delay="0.1s">
      <div class="container py-5 px-lg-5">
          <div class="row g-5">
              <div class="col-md-6 col-lg-3">
                  <p class="section-title text-white h5 mb-4">Address<span></span></p>
                  <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                  <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                  <p><i class="fa fa-envelope me-3"></i>info@example.com</p>
                  <div class="d-flex pt-2">
                      <a class="btn btn-outline-light btn-social" href=" {% static '' %} "><i class="fab fa-twitter"></i></a>
                      <a class="btn btn-outline-light btn-social" href=" {% static '' %} "><i class="fab fa-facebook-f"></i></a>
                      <a class="btn btn-outline-light btn-social" href=" {% static '' %} "><i class="fab fa-instagram"></i></a>
                      <a class="btn btn-outline-light btn-social" href=" {% static '' %} "><i class="fab fa-linkedin-in"></i></a>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <p class="section-title text-white h5 mb-4">Quick Link<span></span></p>
                  <a class="btn btn-link" href=" {% static '' %} ">About Us</a>
                  <a class="btn btn-link" href=" {% static '' %} ">Contact Us</a>
                  <a class="btn btn-link" href=" {% static '' %} ">Privacy Policy</a>
                  <a class="btn btn-link" href=" {% static '' %} ">Terms & Condition</a>
                  <a class="btn btn-link" href=" {% static '' %} ">Career</a>
              </div>
              <div class="col-md-6 col-lg-3">
                  <p class="section-title text-white h5 mb-4">Gallery<span></span></p>
                  <div class="row g-2">
                      <div class="col-4">
                          <img class="img-fluid" src=" {% static 'img/cryptograph.jpg' %} " alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid" src=" {% static 'img/cryptograph.jpg' %} " alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid" src=" {% static 'img/cryptograph.jpg' %} " alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid" src=" {% static 'img/portfolio-4.jpg' %} " alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid" src=" {% static 'img/portfolio-5.jpg' %} " alt="Image">
                      </div>
                      <div class="col-4">
                          <img class="img-fluid" src=" {% static 'img/portfolio-6.jpg' %} " alt="Image">
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <p class="section-title text-white h5 mb-4">Newsletter<span></span></p>
                  <p>Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulpu</p>
                  <div class="position-relative w-100 mt-3">
                      <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Your Email" style="height: 48px;">
                      <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                  </div>
              </div>
          </div>
      </div>
      <div class="container px-lg-5">
          <div class="copyright">
              <div class="row">
                  <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                      &copy; <a class="border-bottom" href="#">HARPOCRATES FX</a>, All Right Reserved. 
        
        <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://mworia.pythonanywhere.com/credit-removal". Thank you for your support. ***/-->
        Designed By <a class="border-bottom" href="https://mworia.pythonanywhere.com">Bray</a>
                  </div>
                  <div class="col-md-6 text-center text-md-end">
                      <div class="footer-menu">
                          <a href=" {% static '' %} ">Home</a>
                          <a href=" {% static '' %} ">Cookies</a>
                          <a href=" {% static '' %} ">Help</a>
                          <a href=" {% static '' %} ">FQAs</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-secondary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

  <!-- JavaScript Libraries -->
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src=" {% static 'lib/wow/wow.min.js' %} "></script>
  <script src=" {% static 'lib/easing/easing.min.js' %} "></script>
  <script src=" {% static 'lib/waypoints/waypoints.min.js' %} "></script>
  <script src=" {% static 'lib/counterup/counterup.min.js' %} "></script>
  <script src=" {% static 'lib/owlcarousel/owl.carousel.min.js' %} "></script>
  <script src=" {% static 'lib/isotope/isotope.pkgd.min.js' %} "></script>
  <script src=" {% static 'lib/lightbox/js/lightbox.min.js' %} "></script>

  <!-- Template Javascript -->
  <script src=" {% static 'js/main.js' %} "></script>
  <script src=" {% static 'js/floatingchat.js' %} "></script>
  <script src=" {% static 'js/modal.js' %} "></script>
</body>

</html>